<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>Connect services:</p>
<ul>
  <li>
    <%= link_to 'Facebook', "https://www.facebook.com/dialog/oauth?client_id=132081450279923&redirect_uri=http://localhost:3000/auth/facebook&state=SOME_ARBITRARY_BUT_UNIQUE_STRING" %>
  </li>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
